h1 {color: blue;
background-color: white;
}
p{text-align: justify;
     
  }
.obj {font-size: larger;
}
.info {font-size: larger;}
#mail {color: blue;}
* {font-family: Avenir, sans-serif;}
.Prog {font-weight: bold;
color:purple;}
